*{
    margin: 0;
    padding:0;
   
}
body {
    background-color: #1F2937;
font-family: 'Karla', sans-serif;
 font-family: 'Inter', sans-serif;
 color: white; 
 padding: 0;
max-width:550px;
 margin: auto;
 position: relative;
 width: 100vw;
 overflow: hidden;

}


.container{
    width: 95%;
   height: 100vh;
  margin: 0 auto;
    display: flex;
    flex-direction: column;
   scroll-behavior: snap;
   scroll-snap-align: top;
 
    padding: 5px;
    
}

/* TITLE section*/



h1{
    
    font-size: 40px; 
}
#green{
   color: #4ADF86; 
}

#sentence{
    font-size: 20px;
}

/* BUTTON SECTION*/
.button-sect{
    border-bottom: 1px solid #2F3E53; 
    display: flex; 
   
}

.generate-el, .resetBtn{
    
    border-radius: 6px;
    border: 0px solid #10B981; 
    padding: 1em 1em;
    font-weight: 700;
    font-family: 'Inter', sans-serif;
    font-size: 1em;
    margin-top: 51px;
    margin-bottom: 35px; 
    width: 50%;
    cursor: pointer;
}

button:hover{
opacity: 0.6;
transition: 3s;
}

.generate-el {
    background-color: #10B981; 
    color: white; 
}

.resetBtn{
    background-color: white; 
     margin-left: 0.3em;
     color: #10B981; 
}


/*PW SECTION*/
.password{
    font-size: small;
    font-weight: 600;
    
}
.pw-sect{
    display: flex; 
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.pw{
    background-color: #2F3E53;
    width: 50%;
    margin: 3em 0.3em ; 
    border-radius: 6px;
    color: #55F991;
    text-align: center;  
    padding: 2em 0.1em; 
    cursor: pointer;
    height: auto;
    overflow-wrap:break-word;
}
/*OPTIONS SECTION*/
.form-el{
    background-color: #2F3E53;
    margin-top: 10px; 
    border-radius: 6px;
    padding: 5px;
    height:10vh;
}



label{
    font-size: smaller;
  
  
}
.input-div{
    display: flex;
    align-items: end;
    height: 25%;
    justify-content: space-evenly;
   margin-top: 2em;
}

.length-el{
      background-color: #2F3E53;
    width: 2.5rem;
    height: 1.56rem; 
   text-decoration: none;
    border-radius: 6px;
    color: #55F991;
    text-align: center;  
   margin-left: 2px;
   padding: 4px; 
    font-size: 12px; 
}

  input[type=checkbox] {
          accent-color: #10B981 ;
          height: 1em; 
          width: 1em;
          
          appearance: auto;
  clip-path: circle(50% at 50% 50%);
        }
